In [5]:
import pandas as pd
import json
with open('questao_6.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data, record_path='lista_lojas', sep='_')
df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,5,Loja Ã‰psilon,Salvador,BA,Livros,300,75000.0
1,6,Loja Zeta,Fortaleza,CE,EletrÃ´nicos,100,50000.0
2,7,Loja Eta,Porto Alegre,RS,Roupas,250,87500.0
3,8,Loja Theta,Manaus,AM,CalÃ§ados,70,21000.0