In [4]:
import pandas as pd
import json

with open('questao_7.json', 'r') as file:
    data = json.load(file)

df_sudeste = pd.json_normalize(data, record_path='lojas_sudeste', sep='_')
df_sul = pd.json_normalize(data, record_path='lojas_sul', sep='_')
df = pd.concat([df_sudeste, df_sul], ignore_index=True)
df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,1,Loja Alpha,SÃ£o Paulo,SP,EletrÃ´nicos,150,45000.0
1,2,Loja Beta,Rio de Janeiro,RJ,Roupas,200,60000.0
2,3,Loja Gamma,Belo Horizonte,MG,CalÃ§ados,120,36000.0
3,4,Loja Delta,Curitiba,PR,AcessÃ³rios,80,24000.0