In [1]:
import pandas as pd
import json

df = pd.read_json('questao_4.json')
df

,id_pedido,cliente,detalhes_compra,data_pedido,status
0,21,"{'id_cliente': 121, 'nome_cliente': 'Ursula Ca...","{'produto': {'id_produto': 221, 'nome_produto'...",2025-01-21,Entregue
1,22,"{'id_cliente': 122, 'nome_cliente': 'Victor An...","{'produto': {'id_produto': 222, 'nome_produto'...",2025-01-22,Pendente
2,23,"{'id_cliente': 123, 'nome_cliente': 'Wagner Ne...","{'produto': {'id_produto': 223, 'nome_produto'...",2025-01-23,Entregue
3,24,"{'id_cliente': 124, 'nome_cliente': 'Xavier Al...","{'produto': {'id_produto': 224, 'nome_produto'...",2025-01-24,Entregue
4,25,"{'id_cliente': 125, 'nome_cliente': 'Yasmin Di...","{'produto': {'id_produto': 225, 'nome_produto'...",2025-01-25,Cancelado

In [2]:
with open('questao_4.json', 'r') as file:
    data = json.load(file)
data

[{'id_pedido': 21,
  'cliente': {'id_cliente': 121, 'nome_cliente': 'Ursula Castro'},
  'detalhes_compra': {'produto': {'id_produto': 221,
    'nome_produto': 'SandÃ¡lia Feminina',
    'categoria': 'CalÃ§ados'},
   'quantidade': 1,
   'preco_unitario': 90.0,
   'preco_total': 90.0},
  'data_pedido': '2025-01-21',
  'status': 'Entregue'},
 {'id_pedido': 22,
  'cliente': {'id_cliente': 122, 'nome_cliente': 'Victor Andrade'},
  'detalhes_compra': {'produto': {'id_produto': 222,
    'nome_produto': 'Chuteira',
    'categoria': 'Esportes'},
   'quantidade': 1,
   'preco_unitario': 230.0,
   'preco_total': 230.0},
  'data_pedido': '2025-01-22',
  'status': 'Pendente'},
 {'id_pedido': 23,
  'cliente': {'id_cliente': 123, 'nome_cliente': 'Wagner Neves'},
  'detalhes_compra': {'produto': {'id_produto': 223,
    'nome_produto': 'Carregador PortÃ¡til',
    'categoria': 'EletrÃ´nicos'},
   'quantidade': 1,
   'preco_unitario': 100.0,
   'preco_total': 100.0},
  'data_pedido': '2025-01-23',
  'status': 'Entregue'},
 {'id_pedido': 24,
  'cliente': {'id_cliente': 124, 'nome_cliente': 'Xavier Almeida'},
  'detalhes_compra': {'produto': {'id_produto': 224,
    'nome_produto': 'Bola de Futebol',
    'categoria': 'Esportes'},
   'quantidade': 1,
   'preco_unitario': 120.0,
   'preco_total': 120.0},
  'data_pedido': '2025-01-24',
  'status': 'Entregue'},
 {'id_pedido': 25,
  'cliente': {'id_cliente': 125, 'nome_cliente': 'Yasmin Dias'},
  'detalhes_compra': {'produto': {'id_produto': 225,
    'nome_produto': 'Maquiagem Completa',
    'categoria': 'Beleza'},
   'quantidade': 1,
   'preco_unitario': 250.0,
   'preco_total': 250.0},
  'data_pedido': '2025-01-25',
  'status': 'Cancelado'}]

In [4]:
df = pd.json_normalize(data, sep='_')
df

,id_pedido,data_pedido,status,cliente_id_cliente,cliente_nome_cliente,detalhes_compra_produto_id_produto,detalhes_compra_produto_nome_produto,detalhes_compra_produto_categoria,detalhes_compra_quantidade,detalhes_compra_preco_unitario,detalhes_compra_preco_total
0,21,2025-01-21,Entregue,121,Ursula Castro,221,SandÃ¡lia Feminina,CalÃ§ados,1,90.0,90.0
1,22,2025-01-22,Pendente,122,Victor Andrade,222,Chuteira,Esportes,1,230.0,230.0
2,23,2025-01-23,Entregue,123,Wagner Neves,223,Carregador PortÃ¡til,EletrÃ´nicos,1,100.0,100.0
3,24,2025-01-24,Entregue,124,Xavier Almeida,224,Bola de Futebol,Esportes,1,120.0,120.0
4,25,2025-01-25,Cancelado,125,Yasmin Dias,225,Maquiagem Completa,Beleza,1,250.0,250.0