In [2]:
import pandas as pd
import json

with open('questao_8.json', 'r') as file:
    data = json.load(file)

df = pd.json_normalize(data)
df

,lojas.lojas_nordeste,lojas.lojas_norte
0,"[{'id_loja': 9, 'nome_loja': 'Loja Iota', 'cid...","[{'id_loja': 11, 'nome_loja': 'Loja Lambda', '..."

In [7]:
df_nordeste = pd.json_normalize(data, record_path=['lojas', 'lojas_nordeste'], sep='_')
df_norte = pd.json_normalize(data, record_path=['lojas', 'lojas_norte'], sep='_')
df = pd.concat([df_nordeste, df_norte], ignore_index=True)
df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,9,Loja Iota,Recife,PE,AcessÃ³rios,95,28500.0
1,10,Loja Kappa,Fortaleza,CE,Livros,180,54000.0
2,11,Loja Lambda,Manaus,AM,EletrÃ´nicos,220,110000.0
3,12,Loja Mu,BelÃ©m,PA,Roupas,160,48000.0