In [2]:
import pandas as pd

df = pd.read_json('questao_3.json')
df

,id_pedido,id_cliente,nome_cliente,data_pedido,status,detalhes_compra
0,16,116,Paulo Barros,2025-01-16,Pendente,"{'id_produto': 216, 'nome_produto': 'Câmera Di..."
1,17,117,Quezia Fernandes,2025-01-17,Entregue,"{'id_produto': 217, 'nome_produto': 'Bolsa de ..."
2,18,118,Rafael Cardoso,2025-01-18,Cancelado,"{'id_produto': 218, 'nome_produto': 'Livro de ..."
3,19,119,Sofia Ribeiro,2025-01-19,Entregue,"{'id_produto': 219, 'nome_produto': 'Perfume',..."
4,20,120,Tiago Moraes,2025-01-20,Entregue,"{'id_produto': 220, 'nome_produto': 'Guarda-Ch..."

In [14]:
import json
with open('questao_3.json', 'r') as file:
    data = json.load(file)

data

[{'id_pedido': 16,
  'id_cliente': 116,
  'nome_cliente': 'Paulo Barros',
  'data_pedido': '2025-01-16',
  'status': 'Pendente',
  'detalhes_compra': {'id_produto': 216,
   'nome_produto': 'CÃ¢mera Digital',
   'categoria': 'EletrÃ´nicos',
   'quantidade': 1,
   'preco_unitario': 2000.0,
   'preco_total': 2000.0}},
 {'id_pedido': 17,
  'id_cliente': 117,
  'nome_cliente': 'Quezia Fernandes',
  'data_pedido': '2025-01-17',
  'status': 'Entregue',
  'detalhes_compra': {'id_produto': 217,
   'nome_produto': 'Bolsa de Couro',
   'categoria': 'AcessÃ³rios',
   'quantidade': 1,
   'preco_unitario': 400.0,
   'preco_total': 400.0}},
 {'id_pedido': 18,
  'id_cliente': 118,
  'nome_cliente': 'Rafael Cardoso',
  'data_pedido': '2025-01-18',
  'status': 'Cancelado',
  'detalhes_compra': {'id_produto': 218,
   'nome_produto': 'Livro de FicÃ§Ã£o',
   'categoria': 'Livros',
   'quantidade': 2,
   'preco_unitario': 35.0,
   'preco_total': 70.0}},
 {'id_pedido': 19,
  'id_cliente': 119,
  'nome_cliente': 'Sofia Ribeiro',
  'data_pedido': '2025-01-19',
  'status': 'Entregue',
  'detalhes_compra': {'id_produto': 219,
   'nome_produto': 'Perfume',
   'categoria': 'Beleza',
   'quantidade': 1,
   'preco_unitario': 180.0,
   'preco_total': 180.0}},
 {'id_pedido': 20,
  'id_cliente': 120,
  'nome_cliente': 'Tiago Moraes',
  'data_pedido': '2025-01-20',
  'status': 'Entregue',
  'detalhes_compra': {'id_produto': 220,
   'nome_produto': 'Guarda-Chuva',
   'categoria': 'AcessÃ³rios',
   'quantidade': 1,
   'preco_unitario': 50.0,
   'preco_total': 50.0}}]

In [15]:
df = pd.json_normalize(data)
df

,id_pedido,id_cliente,nome_cliente,data_pedido,status,detalhes_compra.id_produto,detalhes_compra.nome_produto,detalhes_compra.categoria,detalhes_compra.quantidade,detalhes_compra.preco_unitario,detalhes_compra.preco_total
0,16,116,Paulo Barros,2025-01-16,Pendente,216,CÃ¢mera Digital,EletrÃ´nicos,1,2000.0,2000.0
1,17,117,Quezia Fernandes,2025-01-17,Entregue,217,Bolsa de Couro,AcessÃ³rios,1,400.0,400.0
2,18,118,Rafael Cardoso,2025-01-18,Cancelado,218,Livro de FicÃ§Ã£o,Livros,2,35.0,70.0
3,19,119,Sofia Ribeiro,2025-01-19,Entregue,219,Perfume,Beleza,1,180.0,180.0
4,20,120,Tiago Moraes,2025-01-20,Entregue,220,Guarda-Chuva,AcessÃ³rios,1,50.0,50.0

In [16]:
#podemos trocar o separador de palavras 
df.columns = df.columns.str.replace('.', '_')   
df

,id_pedido,id_cliente,nome_cliente,data_pedido,status,detalhes_compra_id_produto,detalhes_compra_nome_produto,detalhes_compra_categoria,detalhes_compra_quantidade,detalhes_compra_preco_unitario,detalhes_compra_preco_total
0,16,116,Paulo Barros,2025-01-16,Pendente,216,CÃ¢mera Digital,EletrÃ´nicos,1,2000.0,2000.0
1,17,117,Quezia Fernandes,2025-01-17,Entregue,217,Bolsa de Couro,AcessÃ³rios,1,400.0,400.0
2,18,118,Rafael Cardoso,2025-01-18,Cancelado,218,Livro de FicÃ§Ã£o,Livros,2,35.0,70.0
3,19,119,Sofia Ribeiro,2025-01-19,Entregue,219,Perfume,Beleza,1,180.0,180.0
4,20,120,Tiago Moraes,2025-01-20,Entregue,220,Guarda-Chuva,AcessÃ³rios,1,50.0,50.0