In [7]:
import json

with open('questao_2_1.json', 'r') as file:
    data = json.load(file)  


df = pd.json_normalize(data)
                       
df

,id_pedido,id_cliente,nome_cliente,id_produto,nome_produto,categorias,quantidade,preco_unitario,preco_total,data_pedido,status
0,10,110,JoÃ£o Vieira,210,Smartphone,"[EletrÃ´nicos, ComunicaÃ§Ã£o, Tecnologia]",1,2500.0,2500.0,2025-01-10,Pendente
1,11,111,Karen Martins,211,Mouse Gamer,"[EletrÃ´nicos, AcessÃ³rios, Games]",1,150.0,150.0,2025-01-11,Entregue
2,12,112,Lucas Mendes,212,Bicicleta,"[Esportes, Lazer, Transporte]",1,1200.0,1200.0,2025-01-12,Cancelado
3,13,113,Mariana Lopes,213,Ã“culos de Sol,"[AcessÃ³rios, Moda, ProteÃ§Ã£o]",1,300.0,300.0,2025-01-13,Entregue
4,14,114,Natan Santos,214,Tablet,"[EletrÃ´nicos, Tecnologia, EducaÃ§Ã£o]",1,1500.0,1500.0,2025-01-14,Pendente

In [8]:
#Da pra usar a exploded também, mas o normalize já resolve o problema de forma mais simples
df_exploded = df.explode('categorias')
df_exploded

,id_pedido,id_cliente,nome_cliente,id_produto,nome_produto,categorias,quantidade,preco_unitario,preco_total,data_pedido,status
0,10,110,JoÃ£o Vieira,210,Smartphone,EletrÃ´nicos,1,2500.0,2500.0,2025-01-10,Pendente
0,10,110,JoÃ£o Vieira,210,Smartphone,ComunicaÃ§Ã£o,1,2500.0,2500.0,2025-01-10,Pendente
0,10,110,JoÃ£o Vieira,210,Smartphone,Tecnologia,1,2500.0,2500.0,2025-01-10,Pendente
1,11,111,Karen Martins,211,Mouse Gamer,EletrÃ´nicos,1,150.0,150.0,2025-01-11,Entregue
1,11,111,Karen Martins,211,Mouse Gamer,AcessÃ³rios,1,150.0,150.0,2025-01-11,Entregue
1,11,111,Karen Martins,211,Mouse Gamer,Games,1,150.0,150.0,2025-01-11,Entregue
2,12,112,Lucas Mendes,212,Bicicleta,Esportes,1,1200.0,1200.0,2025-01-12,Cancelado
2,12,112,Lucas Mendes,212,Bicicleta,Lazer,1,1200.0,1200.0,2025-01-12,Cancelado
2,12,112,Lucas Mendes,212,Bicicleta,Transporte,1,1200.0,1200.0,2025-01-12,Cancelado
3,13,113,Mariana Lopes,213,Ã“culos de Sol,AcessÃ³rios,1,300.0,300.0,2025-01-13,Entregue
3,13,113,Mariana Lopes,213,Ã“culos de Sol,Moda,1,300.0,300.0,2025-01-13,Entregue
3,13,113,Mariana Lopes,213,Ã“culos de Sol,ProteÃ§Ã£o,1,300.0,300.0,2025-01-13,Entregue
4,14,114,Natan Santos,214,Tablet,EletrÃ´nicos,1,1500.0,1500.0,2025-01-14,Pendente
4,14,114,Natan Santos,214,Tablet,Tecnologia,1,1500.0,1500.0,2025-01-14,Pendente
4,14,114,Natan Santos,214,Tablet,EducaÃ§Ã£o,1,1500.0,1500.0,2025-01-14,Pendente

In [3]:
df = pd.read_json('questao_2_2.json')
df

,id_pedido,id_cliente,nome_cliente,id_produto,nome_produto,categoria,quantidade,preco_unitario,preco_total,data_pedido,status,endereco
0,5,105,Eduarda Costa,205,Mochila Escolar,Acessórios,1,180,180,2025-01-05,Entregue,"{Rua das Flores, 120, Centro, São Paulo, SP, 0..."
1,6,106,Fernando Lima,206,Notebook,Eletrônicos,1,3000,3000,2025-01-06,Pendente,"{Avenida Paulista, 1578, Bela Vista, São Paulo..."
2,7,107,Gabriela Souza,207,Fone de Ouvido,Eletrônicos,1,250,250,2025-01-07,Entregue,"{Rua do Comércio, 45, Centro, Rio de Janeiro, ..."
3,8,108,Hugo Almeida,208,Jaqueta de Couro,Roupas,1,350,350,2025-01-08,Entregue,"{Rua das Palmeiras, 234, Botafogo, Rio de Jane..."
4,9,109,Isabela Nunes,209,Caderno Universitário,Papelaria,5,20,100,2025-01-09,Entregue,"{Rua da Paz, 789, Centro, Curitiba, PR, 80010-..."